{% assign clean = product.description %}

{%- comment -%}
REMOVE MS WORD / GOOGLE JUNK
{%- endcomment -%}
{% assign clean = clean
  | replace: '_x000D_', ''
  | replace: '\r', ''
  | replace: '\n', ''
  | replace: '\\n', ''
  | replace: 'Apple-converted-space', ''
%}

{%- comment -%}
REMOVE ALL INLINE STYLES (style="", margin="", 0px="", 16px="", etc)
{%- endcomment -%}
{% assign clean = clean
  | replace: 'style=', ''
  | replace: 'margin-bottom:', ''
  | replace: 'margin-top:', ''
  | replace: 'font-family:', ''
  | replace: 'font-size:', ''
  | replace: 'font-style:', ''
  | replace: 'font-weight:', ''
  | replace: 'letter-spacing:', ''
  | replace: 'text-align:', ''
  | replace: 'text-indent:', ''
  | replace: 'text-transform:', ''
  | replace: 'text-decoration:', ''
  | replace: '=""', ''
  | replace: '"', ''
%}

{%- comment -%}
REMOVE ALL <p> TAGS INSIDE UL BECAUSE INVALID HTML
{%- endcomment -%}
{% assign clean = clean
  | replace: '<ul><p', '<ul><div'
  | replace: '</p></ul>', '</div></ul>'
  | replace: '<p>', ''
  | replace: '</p>', ''
%}

{%- comment -%}
CLEAN EMPTY OR BROKEN TAGS
{%- endcomment -%}
{% assign clean = clean
  | replace: '<p ></p>', ''
  | replace: '<p></p>', ''
  | replace: '<li><strong></strong>', '<li>'
  | replace: '<li><strong>', '<li>'
%}

{%- comment -%}
CONVERT BULLETS TO LI
{%- endcomment -%}
{% assign clean = clean
  | replace: '•', '<li>'
%}

{%- comment -%}
ENSURE PROPER <ul> WRAPPER
{%- endcomment -%}
{% if clean contains '<li>' %}
  {% assign clean = '<ul>' | append: clean | append: '</ul>' %}
{% endif %}

{%- comment -%}
CLEAN DOUBLE <ul><ul> OR </ul></ul>
{%- endcomment -%}
{% assign clean = clean
  | replace: '<ul><ul>', '<ul>'
  | replace: '</ul></ul>', '</ul>'
%}

{%- comment -%}
FINAL OUTPUT
{%- endcomment -%}
 <div class="product_discription_new">
   {{ clean | strip }}
</div>
