{% assign clean = product.description %}

{%- comment -%} 1) Remove MS Word / Google junk {%- endcomment -%}
{% assign clean = clean
  | replace: '_x000D_', ''
  | replace: '\r', ''
  | replace: '\n', ''
  | replace: '\\n', ''
  | replace: 'Apple-converted-space', ''
%}

{%- comment -%} 2) Remove ALL inline attributes safely {%- endcomment -%}
{% assign clean = clean
  | replace: 'style=', ''
  | replace: 'margin-bottom:', ''
  | replace: 'margin-top:', ''
  | replace: 'font-family:', ''
  | replace: 'font-size:', ''
  | replace: 'font-style:', ''
  | replace: 'font-weight:', ''
  | replace: 'letter-spacing:', ''
  | replace: 'text-align:', ''
  | replace: 'text-indent:', ''
  | replace: 'text-transform:', ''
  | replace: 'text-decoration:', ''
  | replace: '=""', ''
  | replace: '"', ''
%}

{%- comment -%} 3) Remove ALL <p> inside UL, fix invalid HTML {%- endcomment -%}
{% assign clean = clean
  | replace: '<ul><p', '<ul><div'
  | replace: '</p></ul>', '</div></ul>'
  | replace: '<p>', ''
  | replace: '</p>', ''
%}

{%- comment -%} 4) Fix broken strong + li tags {%- endcomment -%}
{% assign clean = clean
  | replace: '<li><strong></strong>', '<li>'
  | replace: '<li><strong>', '<li>'
  | replace: '</strong>', ''
%}

{%- comment -%} 5) Convert "•" into <li> {%- endcomment -%}
{% assign clean = clean
  | replace: '•', '<li>'
%}

{%- comment -%} 6) Wrap everything in <ul> if there are list items {%- endcomment -%}
{% if clean contains '<li>' %}
  {% assign clean = '<ul>' | append: clean | append: '</ul>' %}
{% endif %}

{%- comment -%} 7) Remove nested UL issues {%- endcomment -%}
{% assign clean = clean
  | replace: '<ul><ul>', '<ul>'
  | replace: '</ul></ul>', '</ul>'
%}

{%- comment -%} 8) Remove empty divs created earlier {%- endcomment -%}
{% assign clean = clean
  | replace: '<div></div>', ''
  | replace: '<div >', '<div>'
%}

<div class="product_discription_new">
  {{ clean | strip }}
</div>
