<div class="product_discription_new">

  {% assign clean_desc = product.description %}

  {%- comment -%}
    Remove Apple spacing & span tags
  {%- endcomment -%}
  {% assign clean_desc = clean_desc
    | replace: 'Apple-converted-space', ''
    | replace: '&nbsp;', ' '
    | replace: '<span', '<remspan'
    | replace: '</span>', ''
  %}

  {%- comment -%}
    Remove all inline styles
  {%- endcomment -%}
  {% assign clean_desc = clean_desc
    | replace: 'style="', ''
    | replace: '"', ''
  %}

  {%- comment -%}
    Convert • bullet to <li>
  {%- endcomment -%}
  {% assign clean_desc = clean_desc
    | replace: '•', '<li>'
  %}

  {%- comment -%}
    Wrap inside <ul> only if <li> exists
  {%- endcomment -%}
  {% if clean_desc contains '<li>' %}
    {% assign clean_desc = '<ul>' | append: clean_desc | append: '</ul>' %}
  {% endif %}

  {{ clean_desc }}

</div>

{% schema %}
{
  "name": "Description New",
  "settings": [],
  "presets": [
    {
      "name": "Description New"
    }
  ]
}
{% endschema %}
