
<div class="product_discription_new">

  {% assign clean = product.description %}

  {% assign clean = clean
    | replace: '_x000D_', ''
    | replace: '\r', ''
    | replace: '\n', ''
    | replace: '\\n', ''
  %}

  {% assign clean = clean
    | replace: 'Apple-converted-space', ''
    | replace: '<span', '<remspan'
    | replace: '</span>', ''
    | replace: 'style="', ''
  %}

  {% assign clean = clean
    | replace: '<ul></ul>', ''
    | replace: '<ul><ul>', '<ul>'
    | replace: '</ul></ul>', '</ul>'
  %}

  {% assign clean = clean
    | replace: '•', '<li>'
  %}

  {% if clean contains '<li>' %}
    {% assign clean = '<ul>' | append: clean | append: '</ul>' %}
  {% endif %}

  {{ clean | strip }}

</div>

{% schema %}
{
  "name": "Description New",
  "settings": [],
  "presets": [
    {
      "name": "Description New"
    }
  ]
}
{% endschema %}
