<div class="product_discription_new">

  {% assign clean_desc = product.description %}

  {%- comment -%} Remove Apple spacing & span tags {%- endcomment -%}
  {% assign clean_desc = clean_desc
    | replace: 'Apple-converted-space', ''
    | replace: '&nbsp;', ' '
    | replace: '<span', '<remspan'
    | replace: '</span>', ''
  %}

  {%- comment -%} Remove inline styles completely {%- endcomment -%}
  {% assign clean_desc = clean_desc
    | replace: 'style="', ''
    | replace: '"', ''
  %}

  {%- comment -%} Remove newlines and literal "\n" prints {%- endcomment -%}
  {% assign clean_desc = clean_desc
    | replace: '\n', ''
    | replace: '\r', ''
    | replace: '\\n', ''
  %}

  {%- comment -%} Convert bullets “•” to <li> {%- endcomment -%}
  {% assign clean_desc = clean_desc
    | replace: '•', '<li>'
  %}

  {%- comment -%} Wrap list items in <ul> {%- endcomment -%}
  {% if clean_desc contains '<li>' %}
    {% assign clean_desc = '<ul>' | append: clean_desc | append: '</ul>' %}
  {% endif %}

  {{ clean_desc }}

</div>

{% schema %}
{
  "name": "Description New",
  "settings": [],
  "presets": [
    {
      "name": "Description New"
    }
  ]
}
{% endschema %}
