<div class="product_discription_new">

  {% assign clean = product.description %}

  {%- comment -%} Remove MS Word/Excel line breaks {%- endcomment -%}
  {% assign clean = clean
    | replace: '_x000D_', ''
    | replace: '\r', ''
    | replace: '\n', ''
    | replace: '\\n', ''
  %}

  {%- comment -%} Remove Google SERP auto HTML (remspan, WaaZC, mark, etc) {%- endcomment -%}
  {% assign clean = clean
    | replace: '<remspan', '<span'
    | replace: '</remspan>', '</span>'
    | replace: '<mark', '<span'
    | replace: '</mark>', '</span>'
    | replace: 'WaaZC', ''
    | replace: 'rPeykc', ''
    | replace: 'pjBG2e', ''
    | replace: 'UV3uM', ''
  %}

  {%- comment -%} Remove ALL inline styles {%- endcomment -%}
  {% assign clean = clean
    | replace: 'style="', ''
    | replace: '="', ''
    | replace: '"', ''
  %}

  {%- comment -%} Remove empty divs caused by Google copy {%- endcomment -%}
  {% assign clean = clean
    | replace: '<div></div>', ''
    | replace: '<div >', '<div>'
  %}

  {%- comment -%} Remove leftover invalid HTML attributes {%- endcomment -%}
  {% assign clean = clean
    | replace: 'margin:', ''
    | replace: 'padding:', ''
    | replace: 'background:', ''
    | replace: 'color:', ''
    | replace: 'var(--', ''
    | replace: 'data-', ''
  %}

  {%- comment -%} Remove double <br> and unwanted spacing {%- endcomment -%}
  {% assign clean = clean
    | replace: '<br><br>', '<br>'
    | strip
  %}

  {{ clean }}

</div>


{% schema %}
{
  "name": "Description New",
  "settings": [],
  "presets": [
    {
      "name": "Description New"
    }
  ]
}
{% endschema %}
