<div class="product_discription_new">
{% render 'discription-new', product: product %}
</div>
{% schema %}
{
  "name": "Description New",
  "settings": [],
  "presets": [
    {
      "name": "Description New"
    }
  ]
}
{% endschema %}
