
{% style %}
  .jals-footer-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: inherit;
    text-decoration: none;
}
{% endstyle %}
{% assign block_settings = block.settings %}
<div
  class="
    footer-utilities__group-copyright
    custom-typography
    footer-utilities__text
    {% if block_settings.font_size != "" %}custom-font-size{% endif %}
  "
  style="{% render 'typography-style', preset: 'custom', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  <span class="footer-utilities__text">
    &copy; {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url -}}
    {%- if block_settings.show_powered_by -%}
      , {{ powered_by_link }}
    {%- endif -%}
    <a class="jals-footer-link" href="https://growthdigital.com.au/?utm_source=client&amp;utm_medium=website&amp;utm_campaign=footer&amp;utm_term=digital+agency" target="_blank" rel="noopener noreferrer" title="Growth Digital – Digital Marketing Agency Australia" aria-describedby="a11y-new-window-external-message">
      <img class="jals-footer-icon" src="https://cdn.shopify.com/s/files/1/0726/5163/7054/files/growth-digital-black-icon.png" alt="Growth Digital" width="20" height="20" loading="lazy">
      <span>Digital Agency</span>
    </a>
  </span>
</div>

{% schema %}
{
  "name": "t:names.copyright",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "t:settings.show_powered_by_shopify",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "t:content.manage_store_name"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:names.copyright",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
